html,
body {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.42857143em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

th,
td {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #efefef;
  padding: 5px 10px;
}

thead th {
  font-weight: bold;
  border-width: 2px;
}

a {
  color: #20cbfd;
  text-decoration: none;
}

a:active,
  a:visited {
    color: #20cbfd;
  }

ul {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1em;
}

.button {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-primary {
  background: #fd1555;
  border-color: rgb(240, 20, 81);
  color: #fff;
}

.button-primary:hover {
    background: rgb(253, 44, 102);
    color: #fff;
  }

.button-primary:disabled {
    color: rgba(255, 255, 255, 0.55);
  }

.button-primary:disabled:hover {
      background: #fd1555;
    }

.button-primary:active,
  .button-primary:visited {
    color: #fff;
  }

.button-primary.buttonGroup:last-child {
      border-right: 1px solid rgb(247, 2, 72);;
    }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #efefef;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.main-header .logo {
    background: #fd1555;
    display: block;
    padding: 10px;
    width: 200px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.main-header .logo img {
      max-height: 100%;
    }

.main-header .main-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    padding: 0 15px;
  }

.main-header .main-nav__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

.main-header .main-nav__item {
      display: inline-block;
    }

.main-header .main-nav__anchor {
      text-decoration: none;
      padding: 0 15px;
      line-height: 50px;
      display: block;
    }

.main {
  padding: 50px 15px 0 15px;
}

.hero {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20cbfd+0,fd1555+100 */
  background: #20cbfd; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #20cbfd 0%,#fd1555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  margin: 0 -20px;
  padding: 120px 0;
  color: #fff;
  text-align: left;
}

.hero h1,
  .hero h2 {
    font-weight: normal;
  }

.hero h1 {
    font-size: 38px;
    line-height: 1.2em;
  }

.hero h2 {
    font-size: 18px;
    line-height: 1.3em;
  }

.hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }

.hero__column {
    -webkit-perspective: 1600px;
            perspective: 1600px;
    max-width: 50%;
  }

.hero__column:first-child {
      padding-right: 25px;
    }

.hero__image {
    -webkit-box-shadow: 30px 20px 20px rgba(0, 0, 0, .2);
            box-shadow: 30px 20px 20px rgba(0, 0, 0, .2);
    -webkit-transform: rotateY(-35deg);
            transform: rotateY(-35deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

.features {
  padding: 50px 0;
}

.features .fa {
    color: #20cbfd;
    font-size: 36px;
    margin-bottom: 20px;
  }

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  width: 240px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.features-item h3 {
    line-height: 1.2em;
  }

.features-item p {
    font-size: 14px;
  }

.call-to-action {
  text-align: center;
  padding: 50px 0;
  background: #f7f7f7;
}

.call-to-action .get-started-button {
    font-size: 22px;
  }

.doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.doc__sidebar {
    min-width: 180px;
  }

.doc__content {
    max-width: 800px;
    margin-left: 25px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

.doc-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.doc-nav__anchor {
    display: block;
    text-decoration: none;
    padding: 7px 10px;
    line-height: 1em;
    border-radius: 4px;
  }

.doc-nav__item.active .doc-nav__anchor {
    background: #20cbfd;
    color: #fff;
  }

.guide {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
}
