<header class="main-header">
  <a class="logo" href="/">
    <img src="/images/contentjet-logo-white.svg" alt="contentjet" />
  </a>

  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__anchor" href="/documentation">Documentation</a>
      </li>
    </ul>
  </nav>
</header>
