<nav class="main-nav">
  <ul class="main-nav-list">
    <li class="main-nav-item"><a href="/docs">Docs</a></li>
    <li class="main-nav-item"><a href="/api">API</a></li>
    <li class="main-nav-item"><a href="/guides">Guides</a></li>
  </ul>
</nav>
