<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title ? `${title} | contentjet` : 'contentjet' %></title>
    <%- include('includes/stylesheets'); %>
  </head>
  <body>
    <%- include('includes/header'); %>
    <div class="main">
      <%- contents %>
    </div>
  </body>
</html>
