<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title ? `${title} | contentjet` : 'contentjet' %></title>
    <%- include('includes/stylesheets'); %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('includes/header'); %>
    <div class="main">
      <section class="hero">
        <%- contents %>
      </section>
      <section class="features">
        <ul class="features-list">
          <li class="features-item">
            <i class="fa fa-feed" aria-hidden="true"></i>
            <h3>Headless RESTful API</h3>
            <p>Access your content as structured JSON from any device</p>
          </li>
          <li class="features-item">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            <h3>Custom entry types</h3>
            <p>Create your own entry types with 13 unique field types to choose from</p>
          </li>
          <li class="features-item">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <h3>One CMS. Multiple projects.</h3>
            <p>Use projects to group your content. No need for separate CMS installs per domain.</p>
          </li>
          <li class="features-item">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <h3>Node + PostgreSQL</h3>
            <p>Combines the power of Node's non-blocking asynchronous architecture and PostgreSQL's solid RDB features. Awesome!</p>
          </li>
          <li class="features-item">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>Simple per-project user management</h3>
            <p>Create a project and invite your clients as editors. Great for digital agencies.</p>
          </li>
          <li class="features-item">
            <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
            <h3>Easy to use UI</h3>
            <p>React based single page application for interacting with contentjet's API</p>
          </li>
          <li class="features-item">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
            <h3>Media management</h3>
            <p>Upload media to any project with automatic thumbnail generation of images</p>
          </li>
          <li class="features-item">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <h3>100% free &amp; open source</h3>
            <p>MIT licensed. Fork it. Hack it. Whatever.</p>
          </li>
        </ul>
      </section>
      <section class="call-to-action">
        <a href="#" class="button button-primary get-started-button">Get started</a>
      </section>
    </div>
  </body>
</html>
