html,
body {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857143em;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  display: inline-block;
}
