:root {
  --brand-primary: #fd1555;
  --brand-secondary: #20cbfd;
  --brand-success: #9dda83;
  --brand-success-background: color(var(--brand-success) lightness(+25%));
  --brand-danger: #d9534f;
  --brand-danger-background: color(var(--brand-danger) lightness(+35%));
  --brand-warning: #faebcc;
  --brand-warning-background: color(var(--brand-warning) lightness(+10%));

  --grey: #999;
  --light-grey: #efefef;
  --lighter-grey: #f7f7f7;

  --header-height: 56px;

  --color: #333;
  --anchor-color: var(--brand-secondary);
  --text-selection-background-color: color(var(--brand-secondary) lightness(+30%));

  --button-default-bg: #f7f7f7;
  --button-default-color: var(--color);
  --button-primary-bg: var(--brand-primary);
  --button-primary-color: #fff;
  --button-danger-bg: #d9534f;
  --button-danger-color: #fff;
  --button-link-bg: transparent;
  --button-link-color: var(--brand-secondary);
  --button-border-radius: 4px;
}

html,
body {
  color: var(--color);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.42857143em;
  background: var(--light-grey);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

th,
td {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid var(--light-grey);
  padding: 5px 10px;
}

thead th {
  font-weight: bold;
  border-width: 2px;
}

a {
  color: var(--brand-secondary);
  text-decoration: none;

  &:active,
  &:visited {
    color: var(--brand-secondary);
  }
}

ul {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1em;
}

pre code {
  font-size: 12px;
  max-width: 100%;
}

code {
  color: #fd1555;
}

.button {
  background-image: none;
  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-primary {
  background: var(--button-primary-bg);
  border-color: color(var(--button-primary-bg) shade(5%));
  color: var(--button-primary-color);

  &:hover {
    background: color(var(--button-primary-bg) tint(10%));
    color: var(--button-primary-color);
  }

  &:disabled {
    color: color(var(--button-primary-color) alpha(.55));

    &:hover {
      background: var(--button-primary-bg);
    }
  }

  &:active,
  &:visited {
    color: var(--button-primary-color);
  }

  &.buttonGroup {

    &:last-child {
      border-right: 1px solid color(var(--button-primary-bg) lightness(-5%));;
    }
  }
}

.main-header {
  display: flex;
  background: var(--light-grey);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  .logo {
    background: var(--brand-primary);
    display: block;
    padding: 10px;
    width: 200px;
    height: 50px;
    box-sizing: border-box;

    img {
      max-height: 100%;
    }
  }

  .main-nav {
    flex-grow: 1;
    text-align: right;
    padding: 0 15px;

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      height: 100%;
    }

    &__item {
      display: flex;
    }

    &__anchor {
      text-decoration: none;
      padding: 0 15px;
      display: flex;
      align-items: center;

      img {
        height: 24px;
        margin-right: 8px;
        display: inline-block;
        opacity: 0.8;
      }
    }
  }
}

.main {
  padding: 50px 10px 0 10px;
}

.hero {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20cbfd+0,fd1555+100 */
  background: #20cbfd; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #20cbfd 0%, #fd1555 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #20cbfd 0%,#fd1555 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #20cbfd 0%,#fd1555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  margin: 0 -10px;
  padding: 110px 0 300px;
  color: #fff;
  text-align: center;

  h1,
  h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.35em;
  }

  h2 {
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 5em;
  }

  &__inner {
    max-width: 960px;
    margin: 0 auto;
  }

  &__content {

  }

  &__image-holder {
    position: absolute;
    left: 50%;
    height: 550px;
    width: calc(2880px * (550 / 1652));
    margin-left: calc(2880px * (550 / 1652) * -0.5);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
  }

  &__image {
    display: block;
    position: absolute;
    transition: opacity 1.75s ease-in-out;
    opacity: 1;

    &.carousel-enter-active {
      opacity: 1;
    }

    &.carousel-leave-active {
      opacity: 0;
      z-index: 1;
    }
  }
}

.features {
  padding: 320px 0 80px;
  background: white;
  margin: 0 -10px;

  &__title {
    text-align: center;
    font-size: 34px;
  }

  .fa {
    color: var(--brand-secondary);
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 auto;
  width: 960px;
  flex-wrap: wrap;
}

.features-item {
  width: calc(960px / 4);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

  h3 {
    line-height: 1.2em;
  }

  p {
    font-size: 14px;
  }
}

.call-to-action {
  text-align: center;
  padding: 70px 0;
  margin: 0 -10px;

  .get-started-button {
    font-size: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.image-loader {
  display: none;
}

.documentation {
  background: #fff;

  .main-header {
    background: var(--light-grey);
  }

  .main {
    background: #fff;
  }
}

.doc {
  display: flex;
  padding: 20px 0 100px;

  &__sidebar {
    position: fixed;
    min-width: 180px;
  }

  &__content {
    max-width: 850px;
    margin-left: 205px;
    flex-grow: 1;
    overflow-x: hidden;

    img {
      display: block;
      max-width: 90%;
      margin: 30px auto;
      outline-offset: 5px;
      outline: 1px solid var(--light-grey);
    }
  }
}

.doc-nav {
  font-size: 14px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__anchor {
    display: block;
    text-decoration: none;
    padding: 7px 10px;
    line-height: 1em;
    border-radius: 4px;
  }

  &__item.active &__anchor {
    background: var(--brand-secondary);
    color: #fff;
  }
}

.guide {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
}
