<header class="main-header">
  <a class="logo" href="/">
    <img src="/images/contentjet-logo-white.svg" alt="contentjet" />
  </a>

  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__anchor" href="https://github.com/contentjet/contentjet-api">
          <img src="/images/github-mark.svg" />
          <span>API</span>
        </a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__anchor" href="https://github.com/contentjet/contentjet-ui">
          <img src="/images/github-mark.svg" />
          <span>UI</span>
        </a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__anchor" href="/documentation">Documentation</a>
      </li>
    </ul>
  </nav>
</header>
